{% extends 'base.html' %}

{% block title %}Start Assignment{% endblock %}

{% block content %}

<div class="container">
    <h3>Assignment: {{ assignment.name }}</h3>
    
    <form action="{% url 'submit_assessment' assignment.id %}" method="POST">
        {% csrf_token %}
        {% for question in questions %}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Question {{ forloop.counter }}</h5>
                <p class="card-text" oncopy="return false">{{ question.question }}</p>
                <div class="form-check">
                    <input type="radio" name="question_{{ question.id }}" value="A" id="{{ question.id }}_A"
                        class="form-check-input">
                    <label for="{{ question.id }}_A" class="form-check-label" oncopy="return false">
                        {{ question.option_a }}</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="question_{{ question.id }}" value="B" id="{{ question.id }}_B"
                        class="form-check-input">
                    <label for="{{ question.id }}_B" class="form-check-label" oncopy="return false">
                        {{ question.option_b }}</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="question_{{ question.id }}" value="C" id="{{ question.id }}_C"
                        class="form-check-input">
                    <label for="{{ question.id }}_C" class="form-check-label" oncopy="return false">
                        {{ question.option_c }}</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="question_{{ question.id }}" value="D" id="{{ question.id }}_D"
                        class="form-check-input">
                    <label for="{{ question.id }}_D" class="form-check-label" oncopy="return false">
                        {{ question.option_d }}</label>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
